<% layout('/layouts/boilerplate.ejs') -%>
    <!-- <h2>All listings</h2> -->

    <style>
        #filters {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
        }

        .filter {
            text-align: center;
            margin-top: 2rem;
            opacity: 0.7;
            transition: 0.2s ease-in-out;
        }

        #filters a {
            text-decoration: none;
            color: black;
        }

        .filter:hover {
            opacity: 1;
            color: #fe424d;
        }

        .filter {
            cursor: pointer;
        }

        .filter p {
            font-size: 0.9rem;
        }

        .tax-info {
            display: none;
        }

        .tax-toggle {
            border: 1px solid rgba(135, 135, 135, 135);
            border-radius: 1rem;
            height: auto;
            width: fit-content;
            padding: 0.5rem;
            padding-top: 0.5rem;
            margin: 0;
            margin-top: 0.7rem;
            margin-inline: auto;
            box-shadow: 1px 2px 0.1rem #fe424d;
            border: 1px solid #fe424d;
        }

        @media (max-width: 1050px) {
            #filters {
                flex-wrap: wrap;
            }
        }

        .form-check-input:checked {
            background-color: #fe424d !important;
            color: white;
        }
    </style>
    <style>
        .swiper {
            width: 100%;
            height: 9%;
        }

        .swiper-slide {
            text-align: center;
            font-size: 27px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #left-btn::after,
        #right-btn::after {
            font-size: 1.8rem;
            color: #fe424d;
        }

        .swiper {
            margin-left: auto;
            margin-right: auto;
        }
        .swiper-pagination{
           top: 90px !important;
        }
        .swiper-pagination-bullet-active{
            background: #fe424d !important;
        }
    </style>

    <div id="filters" class="swiper mySwiper">
        <div class="swiper-wrapper">
            <a class="swiper-slide" href="/listings/">
                <div class="filter">
                    <div><i class="fa-solid fa-cloud-arrow-up"></i></div>
                    <p>All</p>
                </div>
            </a>
            <a class="swiper-slide" href="/listings/category/Trending">
                <div class="filter">
                    <div><i class="fa-solid fa-fire"></i></div>
                    <p>Trending</p>
                </div>
            </a>
            <a class="swiper-slide" href="/listings/category/Rooms">
                <div class="filter">
                    <div><i class="fa-solid fa-bed"></i></div>
                    <p>Rooms</p>
                </div>
            </a>
            <a class="swiper-slide" href="/listings/category/Iconic Cities">
                <div class="filter">
                    <div><i class="fa-solid fa-mountain-city"></i></div>
                    <p>Iconic Cities</p>
                </div>
            </a>
            <a class="swiper-slide" href="/listings/category/Mountains">
                <div class="filter">
                    <div><i class="fa-solid fa-mountain"></i></div>
                    <p>Mountains</p>
                </div>
            </a>
            <a class="swiper-slide" href="/listings/category/Castles">
                <div class="filter">
                    <div><i class="fa-brands fa-fort-awesome"></i></div>
                    <p>Castles</p>
                </div>
            </a>
            <a class="swiper-slide" href="/listings/category/Amazing Pools">
                <div class="filter">
                    <div><i class="fa-solid fa-person-swimming"></i></div>
                    <p>Amazing Pools</p>
                </div>
                <a class="swiper-slide" href="/listings/category/Camping">
                    <div class="filter">
                        <div><i class="fa-solid fa-campground"></i></i></div>
                        <p>Camping</p>
                    </div>
                </a>
                <a class="swiper-slide" href="/listings/category/Farms">
                    <div class="filter">
                        <div><i class="fa-solid fa-cow"></i></div>
                        <p>Farms</p>
                    </div>
                </a>
                <a class="swiper-slide" href="/listings/category/Arctic">
                    <div class="filter">
                        <div><i class="fa-regular fa-snowflake"></i></div>
                        <p>Arctic</p>
                    </div>
                </a>
        </div>
        <div id="left-btn" class="swiper-button-next"></div>
        <div id="right-btn" class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="tax-toggle">
        <div class=" form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Include taxes</label>
        </div>
    </div>
    <div class="row row-cols-xl-3 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <% for(let listing of allListings){ %>
            <a href="/listings/<%=listing.id%>" class="listing-link">
                <div class="card card-listing col">
                    <img src="<%=listing.image.url%>" style="height:20rem" class="card-img-top" alt="Listing_img">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b>
                                <%=listing.title %>
                            </b><br>
                            <%=listing.price.toLocaleString("en-IN")%>&#8378;/night
                                <i class="tax-info"> &nbsp; &nbsp; +18% Gst</i>
                        </p>
                    </div>
                </div>
            </a>
            <% } %>
    </div>
    <script>
        let taxSwitch = document.getElementById('flexSwitchCheckDefault');
        taxSwitch.addEventListener('click', () => {
            let taxInfo = document.getElementsByClassName('tax-info');
            let arrayTax = Array.from(taxInfo);
            arrayTax.forEach((info) => {
                if (info.style.display !== 'inline') {
                    info.style.display = 'inline'
                }
                else {
                    info.style.display = 'none';
                }
            })
        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            spaceBetween: 30,
            loop: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>